<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Delete or edit user</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- Кнопка закрытия модального окна -->
    </div>
    <form role="form" id="userprofile-form" th:action="@{/admin}" th:method="post" th:object="${user}">
        <!-- Форма с ролью методом и объектом -->
        <div class="modal-body">
            <div class="container col-6 text-center">
                <!-- Контейнер с шириной 6 -->
                <div class="form-group text-center">
                    <input id="method" type="hidden" name="_method" value="post">
                    <!-- Скрытое поле для указания метода -->
                    <div>
                        <!-- Поле id -->
                        <label for="id">ID</label>
                        <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                        <!-- Поле для отображения идентификатора пользователя, только для чтения -->
                    </div>

                    <div>
                        <!-- Поле first name -->
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control"
                               th:classappend="${bindingResult} and ${bindingResult.hasFieldErrors('firstName')} ? 'is-invalid'"
                               th:field="*{firstName}" id="firstName">
                        <!-- Поле с проверкой на ошибки-->
                        <th:block th:if="${bindingResult} and ${bindingResult.hasFieldErrors('firstName')}">
                            <div class="invalid-feedback" th:each="error : ${bindingResult.getFieldErrors('firstName')}"
                                 th:text="${error.getDefaultMessage()}"/>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn submit">Save</button>
        </div>
    </form>
</div>
