<div class="container col-6 form-group text-center">
    <form role="form" id="user-addform" th:action="@{/admin}" th:method="post" th:object="${user}">
        <!-- Форма с ролью и атрибутом id -->
        <div>
            <label for="newFirstName">First name</label>
            <input type="text" class="form-control" placeholder="Enter first name"
                   th:classappend="${bindingResult} and ${bindingResult.hasFieldErrors('firstName')} ? 'is-invalid'"
                   th:field="*{firstName}" id="newFirstName">
            <!-- Поле ввода имени с проверкой на ошибки и отображением сообщений об ошибках -->
            <th:block th:if="${bindingResult} and ${bindingResult.hasFieldErrors('firstName')}">
                <div class="invalid-feedback" th:each="error : ${bindingResult.getFieldErrors('firstName')}"
                     th:text="${error.getDefaultMessage()}"/>
                <!-- Отображение сообщений об ошибках -->
            </th:block>
        </div>

        <div>
            <label for="newLastName">Last name</label>
            <input type="text" class="form-control" placeholder="Enter last name" th:field="*{lastName}"
                   id="newLastName">
            <!-- Поле ввода фамилии -->
        </div>
        <div>
            <label for="newAge">Age</label>
            <input type="number" class="form-control"
                   th:classappend="${bindingResult} and ${bindingResult.hasFieldErrors('age')} ? 'is-invalid'"
                   th:field="*{age}" id="newAge">
            <!-- Поле ввода возраста с проверкой на ошибки и отображением сообщений об ошибках -->
            <th:block th:if="${bindingResult} and ${bindingResult.hasFieldErrors('age')}">
                <div class="invalid-feedback" th:each="error : ${bindingResult.getFieldErrors('age')}"
                     th:text="${error.getDefaultMessage()}"/>
                <!-- Отображение сообщений об ошибках -->
            </th:block>
        </div>
        <div>
            <label for="newEmail">E-mail</label>
            <input type="text" class="form-control" placeholder="Enter e-mail"
                   th:classappend="${bindingResult} and ${bindingResult.hasFieldErrors('email')} ? 'is-invalid'"
                   th:field="*{email}" id="newEmail" autocomplete="username">
            <!-- Поле ввода емейла -->
            <th:block th:if="${bindingResult} and ${bindingResult.hasFieldErrors('email')}">
                <div class="invalid-feedback" th:each="error : ${bindingResult.getFieldErrors('email')}"
                     th:text="${error.getDefaultMessage()}"/>
                <!-- Отображение сообщений об ошибках -->
            </th:block>
        </div>

        <div id="password-div">
            <label for="newPassword">Password</label>
            <input type="password" class="form-control" placeholder="Enter password"
                   th:classappend="${bindingResult} and ${bindingResult.hasFieldErrors('password')} ? 'is-invalid'"
                   id="newPassword" name="password" autocomplete="current-password">
            <!-- Поле ввода пароля-->
            <th:block th:if="${bindingResult} and ${bindingResult.hasFieldErrors('password')}">
                <div class="invalid-feedback" th:each="error : ${bindingResult.getFieldErrors('password')}"
                     th:text="${error.getDefaultMessage()}"/>
            </th:block>
        </div>
        <div>
            <!-- Выбор ролей -->
            <label for="newRoles">Role</label>
            <select multiple class="form-control" id="newRoles" name="roles">
                <option th:each="role : ${allRoles}" th:selected="*{hasRole('__${role.id}__')}"
                        th:text="${role.name}" th:value="${role.id}">
                </option>
                <!-- Вывод списка ролей-->
            </select>
        </div>
        <div>
            <!-- Кнопка для отправки формы -->
            <button type="submit" class="btn btn-success mt-3">Add new User</button>
            <!-- Кнопка для добавления нового пользователя -->
        </div>
    </form>
</div>
