
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>All Users</h2>
    <br>
    <form th:action="@{/admin/addNewUser}" method="get">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <br><br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userSet}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getRoles()}">Роль</td>
            <td>
                <form th:action="@{/admin/updateUser}" method="get">
                    <input type="hidden" th:name="'userId'" th:value="${user.id}"/>
                    <button type="submit" class="btn btn-warning">Update</button>
                </form>
                <form th:action="@{/admin/deleteUser}" method="post">
                    <input type="hidden" th:name="'userId'" th:value="${user.id}"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-light">Выйти</button>
    </form>
</div>

<!-- Подключение Bootstrap JS (необязательно, но может потребоваться для некоторых компонентов) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>